@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

html, body {
    height: 100vh;
    overflow-y: hidden;
    background-image: url('https://cdn.discordapp.com/attachments/1050735889933930577/1133670995035693207/1-min.png');
}

body {
    transition: background 0.4s ease;
    background-size: cover;
    color: #fff;
    background-repeat: no-repeat;
    background: #0d0c0c; 
    padding: 0px;
    margin:0px;
}

.website {
    background-image: url('https://cdn.discordapp.com/attachments/1050735889933930577/1133670995035693207/1-min.png');
    background-size: 325%;
    opacity: 0;
    animation: Gradience 1s ease-in-out forwards;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}


.navbar {
    padding: 0px 30px;
    display: flex;
    font-family: 'Source Code Pro', monospace;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 30px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    height: 90vh;
}

.content hr {
    height: 2.5px;
    background: #fff;
    opacity: 20%;
    border-radius: 5px;
}

#heading {
    text-align: center;
    font-size: 75px;
    font-family: 'Space Grotesk',sans-serif;
}

.social-media {
    display: flex; 
    gap: 45px; 
    padding: 62px 0px;
    justify-content: center;
    align-items: center;
}

.contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    height: 90vh;
    align-items: center;
}

.contact .contactinfo {
    display: flex;
    flex-direction:column;
}

.contact .card {
    width:850px;
    display: flex;
    justify-content: space-between;
    font-family: 'Source Code Pro', monospace;
    border-radius: 18.266px;
    border: 1.218px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(27.4px);
    margin: 15px 0px;
    padding: 8px 30px;
}

.contact a {
    color:#b8b8b8;
    text-decoration: none;
    font-weight: normal;
}

.contactinfo h1 {
    font-family: "Space Grotesk";
    align-content: center;
    text-align: center;
}

.social-media-contact {
    padding-top: 30px ;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    gap:30px;
}

.breakline {
    animation: breakLine 1s ease-in-out forwards;
}

@keyframes breakLine {
    to {
        width: 30%;
    }
}

@keyframes Gradience {
    to {
      opacity: 1;
    }
  }