@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

html,
body {
	height: 100vh;
	overflow-y: hidden;
	background-image: url('https://cdn.discordapp.com/attachments/1117354276113625170/1302865103120502815/Achernar.png?ex=6729ab2e&is=672859ae&hm=6f10ec2201961227bbbd6f769594943b8a0ccc1dd56a646154102dc776656a3b&');
}

body {
	transition: background 0.4s ease;
	background-size: cover;
	color: #fff;
	background-repeat: no-repeat;
	background: #0d0c0c;
	padding: 0px;
	margin: 0px;
}

.website {
	background-image: url('https://cdn.discordapp.com/attachments/1117354276113625170/1302865103120502815/Achernar.png?ex=6729ab2e&is=672859ae&hm=6f10ec2201961227bbbd6f769594943b8a0ccc1dd56a646154102dc776656a3b&');
	background-size: 350%;
	opacity: 0;
	animation: Gradient 1s ease-in-out forwards;
	background-repeat: no-repeat;
	height: 100vh;
	position: relative;
}

.navbar {
	padding: 0px 30px;
	display: flex;
	font-family: 'Source Code Pro', monospace;
	justify-content: space-between;
	align-items: center;
}

.navbar h1 {
	font-family: 'Space Grotesk', sans-serif;
	font-size: 30px;
}

.navbar a {
	color: #fff;
	text-decoration: none;
	font-size: 25px;
}

#heading {
	text-align: center;
	font-size: 75px;
	font-family: 'Space Grotesk', sans-serif;
}

.social-media {
	display: flex;
	gap: 45px;
	padding: 62px 0px;
	justify-content: center;
	align-items: center;
}

.content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	height: 90vh;
}

.content hr {
	height: 2.5px;
	background: #fff;
	opacity: 20%;
	border-radius: 5px;
}

.breakline {
	animation: breakLine 1s ease-in-out forwards;
}

#fileSorterSub {
	display: none;
}

#sdbmsSub {
	display: none;
}

#passwordManagerSub {
	display: none;
}

#WHTRdotliveSub {
	display: none;
}

#zoomBomberSub {
	display: none;
}

@keyframes breakLine {
	to {
		width: 30%;
	}
}

@keyframes Gradient {
	to {
		opacity: 1;
	}
}
