@import "tailwindcss";

@font-face {
  font-family: "Switzer";
  src: url(./fonts/Switzer-Variable.woff2) format("woff2");
  font-weight: 400 900;
  font-display: swap;
  font-style: normal;
}

.heading-text {
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff,
    -1px 1px 0 #fff;
}

* {
  scroll-behavior: smooth;
  scroll-snap-align: center
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #f5ead5;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-track {
  background: #151616;
}
